body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: absolute;
  background-color: red;
  height: 40px;
  z-index: 1000;
  top: 20px;
  right: 300px;
}
.legend2 {
  position: absolute;
  background-color: yellow;
  z-index: 1000;
  height: 40px;
  top:20px;
  right:240px;
}
.legend3 {
  position: absolute;
  background-color: purple;
  z-index: 2000;
  height:40px;
  top:20px;
  right:160px;
}
.legend4 {
  position: absolute;
  background-color: blue;
  z-index: 2000;
  height:40px;
  top:20px;
  right:120px;
}
.legend5 {
  position: absolute;
  background-color: green;
  z-index: 2000;
  height:40px;
  top:20px;
  right:80px;
}
