body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 0px;
    /*height: 93%;*/
    top: 70px;
    bottom:80px;

}

.sidebar {
    position: absolute;
    left: 0px;
    right: 0px;
    height:80px;
    bottom:0px;
    overflow: hidden;
    /*padding: 20px;
    font-size: 16px;*/
    background-color:black;
    color:white;
}

.legend {
  position: absolute;
  background-color: red;
  height: 40px;
  z-index: 1000;
  top: 20px;
  right: 300px;
}
.legend2 {
  position: absolute;
  background-color: yellow;
  z-index: 1000;
  height: 40px;
  top:20px;
  right:240px;
}
.legend3 {
  position: absolute;
  background-color: purple;
  z-index: 2000;
  height:40px;
  top:20px;
  right:160px;
}
.legend4 {
  position: absolute;
  background-color: blue;
  z-index: 2000;
  height:40px;
  top:20px;
  right:120px;
}
.legend5 {
  position: absolute;
  background-color: green;
  z-index: 2000;
  height:40px;
  top:20px;
  right:80px;
}
#button1 {
    position:absolute;
    background-color: #4CAF50; /* Green */
    border: 1px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
    left: 700px;
    bottom: 19px;

}
#button2 {
    position:absolute;
    background-color: #4CAF50; /* Green */
    border: 1px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 4px;
    left: 1000px;
    bottom: 19px;
}

#header{
  position: absolute;
  bottom: 1px;
  left:50px
}

.sidebar2 {
    position: absolute;
    left: 0px;
    right: 0px;
    height:80px;
    top:0px;
    overflow: hidden;
    /*padding: 20px;
    font-size: 16px;*/
    background-color:white;
    color:black;
}
#toptittle{
  position: absolute;
  top:0px;
  color:#86b300;
  left:50px;
  font-family:Courier New;
  font-size:17px;
}
#toptittle1{
  position: absolute;
  top:20px;
  color:#86b300;
  left:50px;
  font-family:Courier New;
  font-size:17px;
}

.line{
  position: absolute;
  top:27px;
  left:50px;
  width:15%;
}

#toptittle2{
  position: absolute;
  top:0px;
  color:black;
  left:500px;
  font-family:Georgia;
  font-size:19px;
}
